### Node.js ###

/node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json


### IDE ###

/.idea/workspace.xml
/.idea/php.xml
/.idea/tasks.xml
/.idea/shelf


### App ###

/build
ssl/
config.js


### Misc ###

*.log
.DS_Store
