footer.inverted
  div Handmade with ♥ by <a href="https://darekkay.com" target="_blank" rel="noopener">Darek Kay</a>
  div Fork be on <a href="https://darekkay.com" target="_blank" rel="noopener">GitHub</a>
