footer.container
	.footer
		hr(style='margin: 30px 0 10px 0;')
		div Handmade with ♥ by <a href="https://darekkay.com" target="_blank" rel="noopener">Darek Kay</a> 
script(src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js')
block footer
