.container
	.footer
		hr(style='margin: 30px 0 10px 0;')
		div &copy; <a href="http://www.eclectide.com" target="_blank">Eclectide</a>	2014
script(src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js')
block footer