doctype html
html
	head
		block head
			block title
				title Todoist Export
			block meta
				meta(name='description', content='')
				meta(name='keywords', content='')
				meta(name='charset', content='utf-8')
				meta(name='viewport', content='width=device-width, initial-scale=1')
			link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css')
			link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css')
			link(rel='stylesheet', href='stylesheets/style.css')
			link(rel='icon', href='/todoist-export/favicon.ico')
			link(rel='icon', href='/todoist-export/favicon-192.png', sizes='192x192', type='image/png')
			link(rel='manifest', href='/todoist-export/manifest.json')
			script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
			script(src='js/client.js')
	body
		include header
		block content
		include footer
