body {
    font-size: 16px;
}

.settings {
    margin: 40px 0 20px 0;
}

.footer { 
    text-align: center 
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

.navbar-default .navbar-brand {
    color: #696969;
}
