footer.inverted
  div Handmade with ♥ by <a href="https://darekkay.com" target="_blank" rel="noopener">Darek Kay</a>
  div Fork me on <a href="https://github.com/darekkay/todoist-export" target="_blank" rel="noopener">GitHub</a>
