extends layout

block content
  main
    p
      | This is an <a href="https://github.com/darekkay/todoist-export" target="_blank" rel="noopener">open source</a> tool to backup
      | <a href="http://todoist.com/" target="_blank" rel="noopener">Todoist</a> data as JSON or CSV.
    p
      | <strong>Disclaimer:</strong> Export for Todoist is not created by, affiliated with, or supported by Doist. I do not take any responsibility and I'm not liable for any damage caused through use of this service.

    div.form-wrapper
      form(action="/todoist-export/auth", method="post")

        div.form-group#format
          label(for="format")
            strong Export as:
          div.radios
            div.radio
              label
                input(type="radio", name="format", id="formatCSV", value="csv", checked="checked" onchange="updateArchived(this)")
                | CSV (only tasks)
            div.radio
              label
                input(type="radio", name="format", id="formatJSON", value="json", onchange="updateArchived(this)")
                | JSON (all data)
        div.form-group#archived
          label(for="archived")
            strong Archived:
          div.checkbox
            label
              input(type="checkbox", name="archived", id="archivedCbox")
              | Export all
              | (requires Todoist Premium and may take several minutes)

        div.text-center
          button#submit(type="submit")
            | Authorize & Backup


    div.text-center(id="persistentBackup", style="display: none;")
      p
        | To automate your backups (e.g. via a cron job), use the following link:
      a(id="persistentBackupUrl")

    hr

    h2 Changelog

    ul
      li <strong>2022-12-06</strong>: Updated to API v9.
      li <strong>2021-02-15</strong>: Option to export all archived tasks and projects.
      li <strong>2020-02-02</strong>: The CSV format contains translated label, project and user names (instead of ID numbers).
      li <strong>2019-06-18</strong>: Updated to <a href="https://developer.todoist.com/sync/v8/#migration-guide" target="_blank" rel="noopener">API v8</a>. The output file schema has changed a little bit.
      li <strong>2016-09-01</strong>: Updated to API v7.
      li <strong>2014-12-11</strong>: Released this project.

  script(src='js/client.js')
