doctype html
html(lang="en")
  head
    block head
      block title
        title Export for Todoist
      block meta
        meta(name='description', content='Export and backup all your Todoist tasks and data.')
        meta(name='keywords', content='')
        meta(name='charset', content='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        meta(property='og:image', content='https://darekkay.com/todoist-export/cover.png')
        meta(property='og:title', content='Export for Todoist')
        meta(name='twitter:site', content='@darek_kay')
        meta(name='twitter:card', content='summary_large_image')
      link(rel='stylesheet', href='stylesheets/style.css?ver=3')
      link(rel='icon', href='/todoist-export/favicon.ico')
      link(rel='icon', href='/todoist-export/favicon-192.png', sizes='192x192', type='image/png')
      link(rel='manifest', href='/todoist-export/manifest.json')
  body
    include header
    block content
    include footer
